<th:block layout:decorator="layout/fullPageLayout">
    <head>
        <title th:utext="${product.name}"></title>
    </head>

    <div layout:fragment="content">
        
        <section id="left_column" th:object="${product}">
        
            <div id="product_content" class="product_container">
                <h2 th:utext="*{name}"></h2>
                
                <div id="maker" th:utext="*{manufacturer}"></div>
                
                <th:block th:with="inCart=${cart.containsSku(#object.defaultSku) and #lists.isEmpty(product.productOptions)}"> 
                    <blc:form method="POST" th:action="@{/cart/add}" action="">
                        <div id="account_area">
                        <label for="accountnumberid"  th:text="#{account.number}">Accountnumber</label>
                        <input type="text" id="accountnumberid" name="accountnumber" class="field66"/>
                        </div>
                        <div id="amount_area">
                        <label for="amountid" th:text="#{account.amount}">Amount</label>
                        <input type="text" id="amountid" name="amount" class="field66"/>
                        </div>
                        <div th:utext="*{longDescription}" id="description"></div>
                        
                        <div th:class="*{'productActions' + id}">
                            <div class="in_cart" th:classappend="${!inCart}? ' hidden'">
                                <a class="modalcart big-button gray-button" th:href="@{/cart}">In Cart!</a>
                            </div>
                            <div class="add_to_cart" th:classappend="${inCart}? ' hidden'">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToCart big red" th:value="#{product.payNow}"/>
                            </div>
                            <p class="error" th:if="${param.errorMessage}" th:utext="${param.errorMessage[0]}"></p>
                        </div>
                    </blc:form>
                </th:block>
            </div>
            
            <div id="product_main_image" th:if="*{media['primary']}">
                    <img blc:src="@{*{media['primary'].url}+ '?browse'}" alt='' align="left" id="main_image" />
                <!-- <a th:href="@{*{#strings.replace(media['primary'].url + '?browse', 'jpg?browse', 'jpg')}}" class='jqzoom' id='zoom1' rel="gal1" >
                </a> -->
            </div>
        </section>
    </div>
    
</th:block>