<div>
	<blc:form th:object="${couponPickForm}"
		th:action="@{/checkout/pickCoupon}" method="post" id="order_coupon"
		novalidate="novalidate">

		<div class="coupon submit-row">
		<input type="hidden" th:id="couponId" th:name="couponId" th:value="${coupon.id}"/>
			<p id="coupon_amount" align="center">
				<span id="coupon_amount_txt" th:text="${coupon.amount}"
					style="font-size: 20pt;" />
				<span id="coupon_amount_currency" th:text="' ლ'"
					style="font-size: 10pt;" />
			</p>
			<p id="coupon_name" align="center">
				<span id="coupon_name_txt" th:utext="${coupon.name}"
					style="font-size: 10pt; color: red;" />
			</p>
			<div id="pick_btn" align="right">
				<input class="small red" type="submit" value="pick" />
			</div>
		</div>
</blc:form>
</div>