<header>
    <div id="header_content_fixed">
        <div id="header_content_checkout">

            <div id="checkout_info">
                <div class="checkout_info_left">
                </div>
                <div class="checkout_info_right">
                    <h3>Current Total</h3>
                    <div id="checkout_total" blc:price="${cart.total}"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="logo"><h1><a th:href="@{/}">Utility Payments</a></h1></div>
        </div>
    </div>
</header>