<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id="blCheckoutWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
		<property name="activities">
			<list>
				<!-- This activity should occur at the very end of the checkout workflow, 
					after everything has been executed -->
				<bean p:order="9999999"
					class="com.mycompany.worklow.checkout.SendOrderConfirmationEmailActivity" />
			</list>
		</property>
	</bean>
	<bean p:order="1000" id="blValidateAddRequestActivity" class="com.bali.core.order.service.workflow.DummyAddOrderItemActivity" />
	<bean p:order="2000" id="blCheckAddAvailabilityActivity" class="com.bali.core.order.service.workflow.DummyAddOrderItemActivity" />
	<bean p:order="3000" id="blAddOrderItemActivity" class="com.bali.core.order.service.workflow.DummyAddOrderItemActivity" />
	<bean p:order="3100" id="baliAddOrderItemActivity" class="com.bali.core.order.service.workflow.AddOrderItemActivityCustom" />
	
	<bean id="blAddItemWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
		<property name="activities">
			<list>
			<ref bean="baliAddOrderItemActivity"/>
			    <!-- <bean p:order="4000" id="blAddFulfillmentGroupItemActivity" class="org.broadleafcommerce.core.order.service.workflow.add.AddFulfillmentGroupItemActivity"/>
			    <bean p:order="6000" id="blAddWorkflowVerifyFulfillmentGroupItemsActivity" class="org.broadleafcommerce.core.order.service.workflow.VerifyFulfillmentGroupItemsActivity"/> -->
			</list>
		</property>
	</bean>

</beans>